html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #CCCCCC;
  font-family: "Arial", sans-serif;
  font-size: 40pt;
}
#boardWrapper {
  height: 600px;
  width: auto;
}
#board {
  position: relative;
  height: 550px;
  width: 550px;
  margin: auto;
  border: 1px solid #6C6C6C;
  background-color: #6C6C6C;
  
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:    10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow:         10px 10px 10px 0px rgba(0, 0, 0, 0.6);
}
#board table {
  margin: 62px auto 62px auto;
}
#board td {
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 1px solid #CCCCCC;
  background-color: 1px solid #CCCCCC;
  overflow: auto;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/*Animations*/
#board {
  opacity: 0;
  
  -webkit-animation-name: load-content-box;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-delay: 250ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: load-content-box;
  -moz-animation-duration: 1000ms;
  -moz-animation-delay: 250ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  animation-name: load-content-box;
  animation-duration: 1000ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
#load-table {
  opacity: 0;
  
  -webkit-animation-name: load-table;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-delay: 1250ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: load-table;
  -moz-animation-duration: 1000ms;
  -moz-animation-delay: 1250ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  animation-name: load-table;
  animation-duration: 1000ms;
  animation-delay: 1250ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
#game-table {
  opacity: 1;
}

@-webkit-keyframes load-content-box {
  0% { height:0px; width:0px; margin:25% auto 0% auto; opacity:0; }
  100% { height:550px; width:550px; margin:5% auto 0% auto; opacity:1; }
}
@-moz-keyframes load-content-box {
  0% { height:0px; width:0px; margin:25% auto 0% auto; opacity:0; }
  100% { height:550px; width:550px; margin:5% auto 0% auto; opacity:1; }
}
@keyframes load-content-box {
  0% { height:0px; width:0px; margin:25% auto 0% auto; opacity:0; }
  100% { height:550px; width:550px; margin:5% auto 0% auto; opacity:1; }
}

@-webkit-keyframes load-table {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes load-table {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes load-table {
  0% { opacity:0; }
  100% { opacity:1; }
}